<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <script src="/tracery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>


  <div class="flex-container">

    <div id="title"> <%= data.intro %>, <%= data.rname %>! </div>
  <div id="subtitle">  You are a great <%= data.rel %>! </div>
    <div id="story"> </div>
   <script src="/main.js"></script>

   <div id="subtitle"> Love, <%= data.yname %> </div>

  </div>

  </body>
</html>
