<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../style.css">
  </head>
  <body>


  <div class="flex-container">

  <div class="main">
    <h1> Title </h1>

    <br>
    <p>enter inputs</p>
    <form id="contact-form" method="POST" action="/">
      <label for="rname">recipient name</label>
      <input type="text" name="rname" autocomplete="off"> <br>
      <label for="yname">your name</label>
      <input type="text" name="yname" autocomplete="off"> <br>
      <label for="rel">recipient relation</label>
      <input id="relation" type="text" name="rel" placeholder="ex. mother, friend" autocomplete="off"/> <br>
      <label for="intro">introductory phrase</label>
      <input type="text" name="intro" placeholder="ex. happy birthday, congratulations" autocomplete="off"/> <br>
      <input type="submit" value="submit" />
      </form>

  </body>
</html>
