.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("background.jpg");
  background-size: cover;
}

.main {
  width: 60vw;
  font-family: courier;
  font-size: 18px;
  color: #5e5e5e;
  text-align: center;
  margin-bottom: 10px;
  padding: 20px;
  font-family: 'Dancing Script', cursive;
}

#title {
  font-family: 'Dancing Script', cursive;
  font-size: 70px;
  color: black;
  padding: 20px;
}

#subtitle {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  color: black;
  padding: 20px;
}

h1 {
  /*background-color: #eff7f6;*/
font-family: 'Dancing Script', cursive;
  font-size: 80px;
  color: black;
}

h2 {
  font-family: 'Dancing Script', cursive;
  text-align: left;
  font-size: 35px;
  color: #5e5e5e;
  padding: 10px
}

#story {
  /*font-family: 'Dancing Script', cursive;*/
  font-family: 'Dancing Script', cursive;
  width: 60vw;
  font-size: 30px;
  color: #5e5e5e;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px
}

#storyPtTwo {
  font-family: 'Dancing Script', cursive;
  width: 60vw;
  font-size: 30px;
  line-height: 2em;
  color: #5e5e5e;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px
}

#storyEnd {
  font-family: 'Dancing Script', cursive;
  width: 60vw;
  font-size: 30px;
  color: #5e5e5e;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px
}

#contact-form {
  text-align: center;
}

p{
  color:#5e5e5e;
  font-size: 30px;
}

input[type=text] {
  width: 48vw;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 18px;
}

input[type=submit], input[type=button] {
  font-family: courier new;
  font-size: 16px;
  border: none;
  background-color: #eff7f6;
  text-decoration: none;
  padding: 10px 20px;
  margin: 10px 10px;
}

input[type=submit]:hover, input[type=button]:hover {
  font-family: courier new;
  border: none;
  background-color: #e3efef;
  text-decoration: none;
  padding: 10px 20px;
  margin: 10px 10px;
}

/*input[type=placeholder] {
  font-family: courier;
}*/

input[type=text]:focus {
  outline: none;
}

label {
  font-size: 25px;
}

a {
  text-decoration: none;
  color: white;
  background-color: black;
  font-size: 24px;
  padding: 10px;
}

a:hover {
  color: grey;
}
